<!DOCTYPE HTML>
<html>

<head>
  <title>Vulnerable Springboot Application</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/style.css" title="style" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Demo<span class="logo_colour">_Application</span></a></h1>
          <h2>Vulnerable Springboot Web Application</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="index.html">Home</a></li>
         <li><a href="actuator.html">Actuator Endpoints</a></li>
          <li><a href="path_traversal.html">Path Traversal</a></li>
          <li><a href="injection.html">Sql Injection</a></li>
          <li><a href="file_upload.html">File Upload</a></li> 
		   <!--  <li><a th:href="@{/env}">Actuator Endpoints</a></li>
			<li><a th:href="@{/path_traversal/vul?filepath=../../../../../etc/passwd}">Path Traversal</a></li>
			<li><a th:href="@{sqli/mybatis/vuln01?username=joychou' or '1'='1}">Sql Injection</a></li>
			<li><a th:href="@{/file/pic}">File Upload</a></li>
			<li><a th:href="@{cors/sec/originFilter}">CORS</a></li>
			<li><a th:href="@{/logout}">Logout</a></li> -->
        </ul>
      </div>
    </div>
    <div id="site_content">
     <!-- <div class="sidebar">
        // insert your sidebar items here 
        <h3>Latest News</h3>
        <h4>New Website Launched</h4>
        <h5>August 1st, 2014</h5>
        <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <p></p>
        <h4>New Website Launched</h4>
        <h5>August 1st, 2014</h5>
        <p>2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
        <h3>Useful Links</h3>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
        </ul>
        <h3>Search</h3>
        <form method="post" action="#" id="search_form">
          <p>
            <input class="search" type="text" name="search_field" value="Enter keywords....." />
            <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png" alt="Search" title="Search" />
          </p>
        </form>
      </div> -->
      <div id="content">
        <!-- insert the page content here -->
        <h1>Path Traversal</h1>
        <p>A path traversal attack (also known as directory traversal) aims to access files and directories that are stored outside the web root folder. By manipulating variables that reference files with “dot-dot-slash (../)” sequences and its variations or by using absolute file paths, it may be possible to access arbitrary files and directories stored on file system including application source code or configuration and critical system files.</p>
		
		
       <p><b>Vulnerable Code</b></p>
	  <center> <img src="img/path_traversal.jpg" alt="Path Traversal" height="350px" width="550px" /></center>
        <ul>
          <li><a th:href="@{/path_traversal/vul?filepath=/tmp/}">Click Here to access Path Traversal attack scenario</a></li>
          
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
